<!--  부트스트랩 패널을 이용하여 방명록 디자인 꾸미기-->

<div class="panel panel-primary">
    <div class="panel-heading">GUEST BOOK PAGE</div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">first guest book </a></div>
            <div class="panel-body">
                this is first guest book sample content
            </div>
        </div>

        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">second guest book </a></div>
            <div class="panel-body">
                this is second guest book sample content
            </div>
        </div>

        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">second guest book </a></div>
            <div class="panel-body">
                this is second guest book sample content
            </div>
        </div>

        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">second guest book </a></div>
            <div class="panel-body">
                this is second guest book sample content
            </div>
        </div>

        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">second guest book </a></div>
            <div class="panel-body">
                this is second guest book sample content
            </div>
        </div>

        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading"><a href="#">second guest book </a></div>
            <div class="panel-body">
                this is second guest book sample contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
        </div>
















    </div>
</div>
