<div class="wallop-slider {{animationClass}}">
    <ul class="wallop-slider__list">
        <li class="wallop-slider__item {{itemClasses[$index]}}" ng-repeat="i in images">
            <img src="{{i}}">
        </li>
    </ul>
    <div class="image_slider_btndiv">
        <div class="col-xs-6 col-md-6 ">
            <button  type="button" ng-show="images.length>1" class="btn btn-primary wallop-slider__btn wallop-slider__btn--previous btn btn--previous pull-right " ng-disabled="prevDisabled" ng-click="onPrevButtonClicked()"  >이전</button>
        </div>
        <div class="col-xs-6 col-md-6 ">
            <button  type="button" ng-show="images.length>1" class="btn btn-primary wallop-slider__btn wallop-slider__btn--next btn btn--next  pull-left " ng-disabled="nextDisabled" ng-click="onNextButtonClicked()" >다음</button>
        </div>
    </div>
</div>