
@media screen and (max-width: 1200px)   {
    .div-border{
        color : black;
        margin-top : 20px;
        margin : 10px;
        word-break:break-all;
        border-radius : 10px;
        border : 1px solid #006699;
        width : 95%;
        float : left;
        padding : 10px;
    }
    .main_aboutme, .main_watch{
        width : 95%;
        border : 2px solid #006699;
        border-radius : 10px;
        float : left;
        padding : 10px;
        margin : 10px;
        word-break:break-all;
    }
    .detailview, .reply{
        width : 95%;
        border : 2px solid #006699;
        border-radius : 10px;
        float : left;
        padding : 10px;
        margin : 10px;
        word-break:break-all;
        height : 100%;
    }
    .image_slider{
        height : 300px;
        width: 100%;
        margin: 0 auto;
        border-radius : 10px;
    }

    .image_slider_btndiv{
        margin-bottom : 20px;
    }

}

@media screen and (min-width : 1201px) {
    .div-border{
        color : black;
        margin-top : 20px;
        margin : 10px;
        word-break:break-all;
        border-radius : 10px;
        border : 1px solid #006699;
        width : 31.5%;
        float : left;
        padding : 10px;
    }
    .main_aboutme, .main_watch{
        width : 47%;
        border : 2px solid #006699;
        border-radius : 10px;
        float : left;
        padding : 10px;
        margin : 10px;
        height : 350px;
        word-break:break-all;
    }
    .detailview{
        width : 55%;
        border : 2px solid #006699;
        border-radius : 10px;
        float : left;
        padding : 10px;
        margin : 10px;
        word-break:break-all;
        display:inline;
        height : 100%;
    }
    .reply{
        width : 40%;
        border : 2px solid #006699;
        border-radius : 10px;
        float : right;
        padding : 10px;
        margin : 10px;
        word-break:break-all;
        height : 100%;
    }

    .image_slider{
        height : 300px;
        width: 100%;
        margin: 0 auto;
        margin-left : 20px;
        border-radius : 10px;
    }

    .image_slider_btndiv{
        margin-bottom : 20px;
        margin-right : 60px;
    }

}

.container-fluid{
    background-color : #006699;
    height : 60px;
    color : white;
}

.container{
    margin-top : 100px;
}

.row {
    margin-top : 30px;
}

.navbar-nav{
    padding-top : 2px;
    padding-left : 20px;
    color : white;
}

.navbar-default .navbar-nav > li > a{
    color : white;
}

.navbar-right{
    padding-top : 5px;
    padding-right: 5px;
}

.navbar-header > .navbar-brand{
    color : white;
    font-size : 1.5em;
}

.navbar-collapse{
    background-color : #006699;
}

.yoojasung{
    float : left;
    padding-top : 5px;
    padding-right : 10px;
}

.glyphicon-search{
    padding-left : 10px;
    padding-top : 3px;
}

.glyphicon-pencil{
    float : right;
    padding-left : 10px;
    padding-top : 3px;
}

.glyphicon-arrow-down,.glyphicon-search{
    color : white;
}

.yoojasung-img{
    float : right;
    padding-left : 10px;
    padding-top : 3px;
}

.filter{
    color : black;
}

.develop{
    display : inline-block;
}

.filter-div{
    float : right;
    margin-right : 10px;
}

.develop-title{
    font-size : 1.5em;
}

.panel-body{
    word-break:break-all;
}

.yoojasung-img-div{
    border: 1px solid white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -khtml-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top : 5px;
    float : right;

    background-image: url("../../images/yjs2.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.modal-header, .modal-footer{
    background-color: #006699;
    color : white;
}

.write-btn-div{
    float: right;
    margin-top : 8px;
}

.write-btn-cancel,.write-btn-write {
    padding-left : 5px;
}

.div-border  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #006699;
    margin: 1em 0;
    padding: 0;
}


.johayo_clock_div{
    padding-top : 50px;
}



.repl_input_form{
    display:inline;
}


